<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlink}}
</head>
<body>
    {{>navbar}}

    <!-- mian header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">
                    <div class="col-md-6 col-12 main-header_right">
                        <figure>
                            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKOHfpltGbtgKrAGdbEQkfYFLIv2_4ovxGpA&usqp=CAU">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main-header_left">
                        <p>welcome to wetahear app</p>
                        <h1>I am a<span class="text_clr">Mern Stack Developer</span> Mother & Wife</h1>
                        <a href="https://aliyanarjis.github.io/myportfolio/" ><button>About me</button></a>
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}

</body>
</html>